* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.formula {
    overflow-y: auto;
    scrollbar-width: none;
}

.container {
    width: 550px;
    margin-top: 9px;
}

@media (max-width:552px) {
    .container {
        width: 90vw;
    }
}

.bold {
    font-weight: bold;
}

.center {
    display: grid;
    justify-content: center;
    font-weight: 600;
    font-size: 19px;
}

img {
    width: 100%;
}

li {
    margin-bottom: 8px;
}

ol li::marker {
    font-weight: bold;
}

pre {
    background-color: rgb(237, 237, 237);
    padding: 12px;
    border-radius: 12px;
    font-size: 20px !important;
    font-weight: bold;
}

.table {
    text-align: center;
}

.table-div {
    overflow: auto;
}

/* Chrome, Edge, Safari */
.table-div::-webkit-scrollbar {
    width: 3px;
}

.table-div::-webkit-scrollbar-track {
    background: transparent;
}

.table-div::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 999px;
}

.table-div::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

@media (min-width: 500px) {
    .grid {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .grid-1 {
        border-right: 1px solid black;
    }

    .grid-item {
        padding: 7px;
    }
}

.para {
    border-left: 5px solid rgb(193, 193, 193);
    border-radius: 4px;
    padding: 4px 4px 4px 12px;
}

p {
    font-size: 17px;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: rgb(157, 255, 0) !important;
}

.blue {
    background-color: rgb(100, 190, 255) !important;
}